* {
    box-sizing: border-box;
}

.carousel-item img {
    filter: brightness(80%) contrast(130%) saturate(70%);
    -webkit-filter: brightness(80%) contrast(130%) saturate(70%);

    height: 70vh;
}

body {
    letter-spacing: 1px;
    background-color: #f7f8fa;
    font-family: 'Lato', sans-serif;
    color: #585858;
    font-weight: 300;
    font-size: 20px;
    z-index: 0;
}

nav {
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 60px;
    z-index: 1;
}

.car {
    position: relative;
    top: 60px;
}

#contenu {
    position: relative;
    top: 60px;

}



/* Bouttons */

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 2px;
    font-weight: 600;
    text-align: center;
    padding: 11px 12px;
    box-sizing: border-box;
    font-size: 66%;
    text-transform: capitalize;
    text-decoration: none;
    transition: background-color 0.5s;
}

.btn-plein,
.btn-plein:link,
.btn-plein:visited {
    text-decoration: none;
    color: #fff;
    background: #34ace0;
    text-decoration: none;
}

.btn-vide,
.btn-vide:link,
.btn-vide:visited {

    color: #34ace0;
    border: 1px solid #34ace0;
}

.btn-plein:hover,
.btn-plein:active {
    background-color: #992337;
    text-decoration: none;
}

.btn-vide:hover,
.btn-vide:active {
    background-color: #eee;

}

input[type="text"] {

    width: 100%;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;
    text-align: start;
    border-radius: 2px 0 0 2px;
    padding: 0 15px;
    font-size: 65%;
    background-color: #f2f3f5;
    border: 1px solid transparent;
    height: 45px;
    transition: background-color 0.5s;

    margin: auto 0;
    outline: none;

}

input[type="text"]:focus {
    background-color: white;
    border: 2px solid #f2f3f5;
}

.btn-search,
.btn-search:link,
.btn-search:visited {
    text-decoration: none;
    border-radius: 0px 2px 2px 0px;
    display: inline-block;
    background-color: #f2f3f5;
    height: 45px;
    width: 45px;
    position: absolute;
    padding-left: 12px;
    transition: background-color 0.5s;
    top: 0;
    right: 0px;

}

.btn-search i,
.btn-search:link i,
.btn-search:visited i {
    color: #34ace0;
    font-size: 150%;
    margin: 0 auto;
    transition: color 0.5s;
}

.btn-search:hover,
.btn-search:active {
    background-color: #34ace0;

}

.btn-search:hover i,
.btn-search:active i {
    color: #fff;



}

#barre-recherche {
 
    margin-top: 7.5px;
}

.logo {
    height: 60px;
    width: auto;
    float: left;
    font-size: 150%;
    color: #34ace0;
    margin-top: 7px;
}

.navigation {
    float: right;
    margin: 7px 5px;
    list-style: none;
}

.navigation li {
    display: inline-block;
    margin-left: 5px;
    height: 45px;
    vertical-align: middle;

}

.navigation li a {
    color: #555;
    height: 45px;
    text-decoration: none;

}

a i {

    color: #555;
    font-size: 150%;
}

/* Cartes */

.card,
.card-img-top {
    color: rgb(31, 31, 31);
    border-radius: 0;
    max-width: 220px;
}

.card {
    height: 300px;

}

.card-img-top {

    height: 125px;
}

#test {
    margin-top: 75px;
}

.card-list {
    padding: 0;
    list-style: none;

}

.card {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(135, 135, 135, 1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(135, 135, 135, 1);
    box-shadow: 0px 0px 3px 1px rgba(135, 135, 135, 1);
}

.card-list li {}

.card-list li i {
    color: #34ace0;
    font-size: 120%;
    margin-left: 5%;
}


.card-block {
    margin: 8px;
}

.card-block h3 {
    text-align: center;
    font-weight: bold;
    font-size: 120%
}

.card-block span {

    margin-left: 10%;
}

h2 {
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 130%;
}

.carousel-caption h3 {
    font-size: 150%;

}
