*
{
    box-sizing: border-box;
}

.carousel-item img
{
    height: 70vh;

            filter: brightness(80%) contrast(130%) saturate(70%);
    -webkit-filter: brightness(80%) contrast(130%) saturate(70%);
}

body
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;

    z-index: 0;

    letter-spacing: 1px;

    color: #585858;
    background-color: #f7f8fa;
}

nav
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: white;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
}

.car
{
    position: relative;
    top: 60px;
}

#contenu
{
    position: relative;
    top: 60px;
}



/* Bouttons */

.btn,
.btn:link,
.btn:visited
{
    font-size: 66%;
    font-weight: 600;

    display: inline-block;

    box-sizing: border-box;
    padding: 11px 12px;

    transition: background-color .5s;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;

    -webkit-border-radius: 3;
       -moz-border-radius: 3;
            border-radius: 2px;
}

.btn-plein,
.btn-plein:link,
.btn-plein:visited
{
    text-decoration: none;
    text-decoration: none;

    color: #fff;
    background: #34ace0;
}

.btn-vide,
.btn-vide:link,
.btn-vide:visited
{
    color: #34ace0;
    border: 1px solid #34ace0;
}

.btn-plein:hover,
.btn-plein:active
{
    text-decoration: none;

    background-color: #227093;
}

.btn-vide:hover,
.btn-vide:active
{
    background-color: #eee;
}

input[type='text']
{
    font-size: 65%;

    display: inline-block;

    width: 100%;
    height: 45px;
    margin: auto 0;
    padding: 0 15px;

    transition: background-color .5s;
    text-align: start;
    text-indent: 0;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;

    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    outline: none;
    background-color: #f2f3f5;
}

input[type='text']:focus
{
    border: 2px solid #f2f3f5;
    background-color: white;
    outline: none;
}

.btn-search,
.btn-search:link,
.btn-search:visited
{
    position: absolute;
    top: 0;
    right: 45px;

    display: inline-block;

    width: 45px;
    height: 45px;
    padding-left: 12px;

    transition: background-color .5s;
    text-decoration: none;

    border-top: 2px solid #f2f3f5;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #f2f3f5;
    border-left: 2px solid transparent;
    border-radius: 0 2px 2px 0;
    background-color: #f2f3f5;
}

.btn-search-focus
{
    border-top: 2px solid #f2f3f5;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #f2f3f5;
    border-left: 2px solid transparent;
    background-color: white;
}

.btn-adv-focus
{
    border-top: 2px solid #f2f3f5;
    border-right: 2px solid #f2f3f5;
    border-bottom: 2px solid #f2f3f5;
    border-left: 2px solid transparent;
    background-color: white;
}

.btn-search i,
.btn-search:link i,
.btn-search:visited i
{
    font-size: 150%;

    margin: 0 auto;

    transition: color .5s;

    color: #34ace0;
}

.btn-search:hover,
.btn-search:active
{
    background-color: #34ace0;
}

.btn-search:hover i,
.btn-search:active i
{
    color: #fff;
}

.btn-adv,
.btn-adv:link,
.btn-adv:visited
{
    position: absolute;
    top: 0;
    right: 0;

    display: inline-block;

    width: 45px;
    height: 45px;
    padding-left: 10px;

    transition: background-color .5s;
    text-decoration: none;

    border-radius: 0 2px 2px 0;
    background-color: #f2f3f5;
}

.btn-adv i,
.btn-adv:link i,
.btn-adv:visited i
{
    font-size: 150%;

    transition: color .5s;
    text-align: center;

    color: #34ace0;
}

.btn-adv:hover,
.btn-adv:active
{
    background-color: #34ace0;
}

.btn-adv:hover i,
.btn-adv:active i
{
    color: #fff;
}

#barre-recherche
{
    margin-top: 7.5px;
}

.logo
{
    font-size: 150%;

    float: left;

    width: auto;
    height: 60px;
    margin-top: 7px;

    color: #34ace0;
}

.navigation
{
    float: right;

    margin: 7px 5px;

    list-style: none;
}

.navigation li
{
    display: inline-block;

    height: 45px;
    margin-left: 5px;

    vertical-align: middle;
}

.navigation li a
{
    height: 45px;

    text-decoration: none;

    color: #555;
}

a i
{
    font-size: 150%;

    color: #555;
}

/* Cartes */



.card-block
{
    padding: 10px 10px;
}
.card
{
    max-width: 220px;
    height: 300px;
    padding: 0;

    transition: transform .3s;

    border: 0;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 0 3px 1px rgba(135, 135, 135, 1);
}

.card:hover
{
    transform: scale(1.05);
}

.card-title
{
    font-size: 80%;
    font-weight: bold;

    margin-bottom: 7px;

    color: #444;
}

.card-desc
{
    font-size: 60%;
    font-style: italic;
}

.info
{
    font-size: 60%;
    font-weight: bold;
    font-style: italic;

    position: absolute;
    top: 145px;
    left: 0;

    display: inline-block;

    height: 25px;
    padding: 5px;

    color: white;
    background-color: #34ace0;
}

.date span
{
    line-height: 100%;

    display: block;

    margin: 0;
    padding: 0;
}
.date
{
    position: absolute;
    top: 0;
    right: 0;

    width: 40px;
    height: 60px;
    padding-top: 9px;

    text-align: center;

    color: white;
    background-color: #34ace0;
}

.date_jour
{
    font-size: 100%;
    font-weight: bold;
}

.date_mois
{
    font-size: 50%;
    font-weight: bold;
}

.date_annee
{
    font-size: 50%;
    font-weight: 300;
}

.card-img-top
{
    border-radius: 0;
}

h2
{
    font-size: 130%;

    margin-top: 40px;
    margin-bottom: 20px;
}

.carousel-caption h3
{
    font-size: 150%;
}


form
{
    max-width: 800px;
    margin: 0 auto;
    padding: 2% 4%;

    background-color: white;
}

.btn-file
{
    position: relative;

    overflow: hidden;
}
 input[type=file]
{
    font-size: 100px;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    min-width: 100%;
    min-height: 100%;

    
    cursor: inherit;
    text-align: right;

    opacity: 0;
    outline: none;
    background: white;

    filter: alpha(opacity=0);
}

#browseFile
{
    display: block;
}

#chemin
{
    margin: 0;
}

.btn-ajouter
{
    width: 100%;
    margin: 0 auto;
}

#desc
{
    border-radius: 0;
    background-color: #f2f3f5;
}



.form-title
{
    font-size: 150%;
    font-weight: bold;

    margin-bottom: 4%;

    text-align: center;

    color: #34ace0;
}

.checkbox-inline span
{
    font-size: 80%;
    margin-right: 2%;
}

input[type='checkbox']
{
       margin-right: .3em;
    outline: none;
}

.input-title{
    margin: 0;
}