*{
    box-sizing: border-box;
}

.carousel-item img {
    filter: brightness(80%) contrast(130%) saturate(70%);
    -webkit-filter: brightness(80%) contrast(130%) saturate(70%);
    
height: 70vh;
}

body {
    background-color: #f7f8fa;
    font-family: Open Sans;
    color: #555;
    font-weight: 300;
    font-size: 20px;
    z-index: 0;
}

nav {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aliceblue;
    height: 70px;
    z-index: 1;
}

.carousel {
    position:relative;
    top: 50px;
}

#contenu {
    background-color: black;
    height: 500px;

}

/* Bouttons */

.btn:link,
.btn:visited {
    display: inline-block;
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 2px;
    font-weight: 600;
    text-align: center;
    padding: 11px 12px;
    box-sizing: border-box;
    font-size: 66%;
    text-transform: capitalize;
    text-decoration: none;
    transition: background-color 0.5s;
}

.btn-plein:link,
.btn-plein:visited {

    color: #ffffff;
    background: #ec5252;
    text-decoration: none;
}

.btn-vide:link,
.btn-vide:visited {

    color: #686f7a;
    border: 1px solid #505763;
}

.btn-plein:hover,
.btn-plein:active {
    background-color: #992337;
    text-decoration: none;
}

.btn-vide:hover,
.btn-vide:active {
    background-color: #eee;

}

input[type="text"] {

    width:100%;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;
    text-align: start;
    border-radius: 2px;
    padding: 0 15px;
    font-size:65%;
    background-color: #f2f3f5;
    border: 1px solid transparent;
    height: 45px;
    transition: background-color 0.5s;


}

input[type="text"]:focus {
  background-color: white;
  border: 2px solid #f2f3f5;
  
  }