* {
    box-sizing: border-box;
}

.carousel-item img {
    height: 70vh;

    filter: brightness(80%) contrast(130%) saturate(70%);
    -webkit-filter: brightness(80%) contrast(130%) saturate(70%);
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;

    z-index: 0;

    letter-spacing: 1px;
    outline: none;

    color: #585858;
    background-color: #f7f8fa;
}

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: white;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
}

.car {
    position: relative;
    top: 60px;
}

#contenu {
    position: relative;
    top: 60px;
}



/* Bouttons */

.btn,
.btn:link,
.btn:visited {
    font-size: 66%;
    font-weight: 600;

    display: inline-block;
    color: white;
    box-sizing: border-box;
    padding: 11px 12px;

    transition: background-color .5s;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;

    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 2px;
}

.btn-plein,
.btn-plein:link,
.btn-plein:visited {
    text-decoration: none;
    text-decoration: none;

    color: #fff;
    background: #34ace0;
}

.btn-vide,
.btn-vide:link,
.btn-vide:visited {
    color: #34ace0;
    border: 1px solid #34ace0;
}

.btn-plein:hover,
.btn-plein:active {
    text-decoration: none;
    cursor: pointer;
    background-color: #227093;
}

.btn-vide:hover,
.btn-vide:active {
    background-color: #eee;
    cursor: pointer;
}

input[type='text'],
input[type='password'] {
    font-size: 65%;

    display: inline-block;

    width: 100%;
    height: 45px;
    margin: auto 0;
    padding: 0 15px;

    transition: background-color .5s;
    text-align: start;
    text-indent: 0;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;

    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    outline: none;
    background-color: #f2f3f5;
}

input[type='text']:focus {
    border: 2px solid #f2f3f5;
    background-color: white;
    outline: none;
}

.btn-search,
.btn-search:link,
.btn-search:visited {
    position: absolute;
    top: 0;
    right: 45px;

    display: inline-block;

    width: 45px;
    height: 45px;
    padding-left: 12px;

    transition: background-color .5s;
    text-decoration: none;


    border: 2px solid transparent;

    border-radius: 0 2px 2px 0;
    background-color: #f2f3f5;
}

.btn-search-focus {
    border-top: 2px solid #f2f3f5;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #f2f3f5;
    border-left: 2px solid transparent;
    background-color: white;
}

.btn-adv-focus {
    border-top: 2px solid #f2f3f5;
    border-right: 2px solid #f2f3f5;
    border-bottom: 2px solid #f2f3f5;
    border-left: 2px solid transparent;
    background-color: white;
}

.btn-search i,
.btn-search:link i,
.btn-search:visited i {
    font-size: 150%;

    margin: 0 auto;

    transition: color .5s;

    color: #34ace0;
}

.btn-search:hover,
.btn-search:active {
    background-color: #34ace0;
    cursor: pointer;
}

.btn-search:hover i,
.btn-search:active i {
    color: #fff;
    cursor: pointer;
}

.btn-adv,
.btn-adv:link,
.btn-adv:visited {
    position: absolute;
    top: 0;
    right: 0;

    display: inline-block;

    width: 45px;
    height: 45px;
    padding-left: 10px;

    transition: background-color .5s;
    text-decoration: none;

    border-radius: 0 2px 2px 0;
    background-color: #f2f3f5;
}

.btn-adv i,
.btn-adv:link i,
.btn-adv:visited i {
    font-size: 150%;

    transition: color .5s;
    text-align: center;

    color: #34ace0;
}

.btn-adv:hover,
.btn-adv:active {
    background-color: #34ace0;
}

.btn-adv:hover i,
.btn-adv:active i {
    color: #fff;
    cursor: pointer;
}

#barre-recherche {
    margin-top: 7.5px;
    margin-left: 50px;
}

.logo {
    font-size: 150%;

    float: left;

    width: auto;
    height: 45px;
    margin-top: 7px;

    color: #34ace0;
}

.navigation {
    float: right;
    height: 60px;
    margin: 7px 5px;
    font-size: 90%;
    list-style: none;
}

.navigation li {
    display: inline-block;

    height: 45px;
    margin-left: 5px;

    vertical-align: middle;
}

.navigation li a {
    height: 45px;

    vertical-align: middle;
    text-decoration: none;

    color: #555;
}

a i {
    font-size: 150%;

    color: #555;
}

/* Cartes */

.card-block {
    padding: 5px 10px;
}

.card {
    max-width: 220px;
    padding: 0;
    margin: 15px auto;
    transition: transform .3s;

    border: 0;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 0 3px 1px rgba(135, 135, 135, 1);
}

.card:hover {
    transform: scale(1.10);
    cursor: pointer;
}

.card-title {
    font-size: 80%;
    font-weight: bold;

    margin-bottom: 7px;

    color: #444;
}

.card-desc {
    font-size: 60%;
    font-style: italic;
    margin-bottom: 5px;
}

.info {
    font-size: 60%;
    font-weight: bold;
    font-style: italic;

    position: absolute;
    top: 145px;
    left: 0;

    display: inline-block;

    height: 25px;
    padding: 5px;

    color: white;
    background-color: #34ace0;
}

.date span {
    line-height: 100%;

    display: block;

    margin: 0;
    padding: 0;
}

.date {
    position: absolute;
    top: 0;
    right: 0;

    width: 40px;
    height: 60px;
    padding-top: 9px;

    text-align: center;

    color: white;
    background-color: #34ace0;
}

.date_jour {
    font-size: 100%;
    font-weight: bold;
}

.date_mois {
    font-size: 50%;
    font-weight: bold;
}

.date_annee {
    font-size: 50%;
    font-weight: 300;
}

.card-img-top {
    border-radius: 0;
}

h2 {
    font-size: 130%;

    margin-top: 40px;
    margin-bottom: 20px;
}

.carousel-caption h3 {
    font-size: 150%;
}


.formulaire {

    position: relative;
    top: 75px;
    box-shadow: 0 0 3px 1px rgba(135, 135, 135, 1);

    max-width: 800px;
    margin: 0 auto;
    padding: 2% 4%;

    background-color: white;
    
    margin-bottom: 150px;
}



.btn-file {
    position: relative;

    overflow: hidden;
}

input[type=file] {
    font-size: 100px;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    min-width: 100%;
    min-height: 100%;


    cursor: inherit;
    text-align: right;

    opacity: 0;
    outline: none;
    background: white;

    filter: alpha(opacity=0);
}

#browseFile {
    display: block;
}

#chemin {
    margin: 0;
}

.btn-ajouter {
    width: 100%;
    margin: 0 auto;
}

#desc {
    border-radius: 0;
    background-color: #f2f3f5;
}



.form-title {
    font-size: 125%;
    font-weight: bold;

    margin-bottom: 4%;

    text-align: center;

    color: #34ace0;
}

.checkbox-inline span {
    font-size: 80%;
    margin-right: 2%;
}

input[type='checkbox'] {
    margin-right: .3em;
    outline: none;
}

.input-title {
    margin: 0;
}

.invalid-hidden {
    display: none;
    font-size: 60%;
    color: #d45252;
    position: relative;
    top: -5px;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

.correct {
    box-shadow: 0 0 3px #5cd053;
    border: #28921f;
}

.not-correct {
    border: 1px solid #d45252;
    box-shadow: 0 0 3px #d45252;
}

#mdpLogIn,
#mailLogIn {
    margin: 10px auto;
    border: 2px solid #ccc;
}

.modal-header,
.modal-footer {
    background-color: #89c7e2;
}

.modal-title {
    font-size: 90%;
    width: 100%;
    margin: 0 15px;
}

.modal-footer .btn {
    width: 100%;
}

.categorie {
    font-size: 50%;
    font-weight: bold;
    text-decoration: underlign;
    margin-bottom: 0.3em;
}

.list_tags {
    list-style-type: none;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5em;
    padding: 0;

}

.list_tags li {
    background-color: #227093;
    padding: 0.5em;
    display: inline-block;
    font-size: 50%;
    max-height: 28px;
    font-weight: bold;
    color: white;
    margin-right: 5%;
    margin-bottom: 0.3em;
    vertical-align: middle;

}

.list_tags li i {
    margin: 0;
    margin-right: 0.25em;
    font-size: 130%;
    vertical-align: middle;

}

#plus {
    margin: 50px 0;
    font-size: 120%;
    text-transform: none;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 3px 1px rgba(135, 135, 135, 1);
}

footer {
    background-color: #333;
    padding: 50px;

}

.footer-nav {
    list-style-type: none;
    float: left;
    font-size: 80%;
}

.social {
    list-style-type: none;
    float: right;


}


.footer-nav li,
.social li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social li:last-child {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social li a:link,
.social li a:visited {
    text-decoration: none;
    color: #888;
    transition: color 0.5s;

}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

footer p {
    text-align: center;
    width: 100%;
    font-size: 80%;
    color: #888;
}

.social li a i {
    transition: color 0.5s;
    font-size: 120%;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

.navigation li i {
    font-size: 170%;
    color: #34ace0;
    vertical-align: middle;
    transition: color 0.5s;
    margin-right: 10px;
}

.navigation li i:hover {
    color: #227093;
}

#container-recherche{
    padding-top: 75px;
}



